/* index.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  overflow-x: hidden;
}

/* Center content with scroll if too tall */
.login-container,
.welcome-container {
  min-height: 100vh;
  padding: 40px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Card styling */
.login-card{
  background: #fff;
  padding: 2rem 2.5rem;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  text-align: center;
  width: 90%;
  max-width: 400px;
  animation: fadeIn 0.5s ease-in-out;
  word-break: break-word;
}

.login-card h2,
.welcome-card h2 {
  margin-bottom: 20px;
  color: #333;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

/* Buttons */
button {
  width: 100%;
  padding: 10px;
  background-color: #667eea;
  border: none;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #5a67d8;
}

.error-text {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.welcome-card {
  background: #fff;
  padding: 2rem 2.5rem;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  text-align: center;
  width: 90%;
  /* max-width: 400px; */
  animation: fadeIn 0.5s ease-in-out;
  word-break: break-word;
}

.welcome-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.modules-section {
  margin-top: 20px;
}

.module-card {
  background-color: #f9fafc;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-left: 4px solid #0056d2;
  border-radius: 4px;
}
.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background-color: #ffffff;
  border-right: 1px solid #ddd;
  padding: 20px;
  overflow-y: auto;
}

.sidebar-title {
  margin-bottom: 20px;
  font-size: 20px;
  color: #0056d2;
}

.module {
  margin-bottom: 15px;
}

.module-title {
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  background-color: #eef2f8;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.module-title:hover {
  background-color: #dde7f2;
}

.chapters {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
}

.chapters.open {
  max-height: 500px;
  margin-top: 10px;
}

.chapter {
  padding: 6px 12px;
  margin-bottom: 5px;
  cursor: pointer;
  border-left: 3px solid transparent;
  transition: 0.3s;
}

.chapter:hover {
  background-color: #f5faff;
  border-left: 3px solid #0056d2;
}

.video-area {
  flex-grow: 1;
  background-color: #f9fbfd;
  padding: 20px;
}